@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Typography */
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Plus Jakarta Sans", sans-serif;
    --font3: "Sora", sans-serif;
    --font4: "Montserrat", sans-serif;
    --font5: "Liberation Sans", sans-serif;
    --font6: "Liberation Serif", sans-serif;
    --font7: "Albert Sans", sans-serif;

    /* Base Colors */
    --color-blue-50: #ECF3FE;
    --color-blue-100: #C3D8FC;
    --color-blue-200: #A5C6FB;
    --color-blue-300: #7CABF9;
    --color-blue-400: #639BF8;
    --color-blue-500: #3C82F6;
    --color-blue-600: #3776E0;
    --color-blue-700: #2B5CAF;
    --color-blue-800: #214887;
    --color-blue-900: #193767;
    --color-blue-10: #F7FAFF;

    --color-green-50: #E8F8F6;
    --color-green-100: #B7E9E3;
    --color-green-200: #94DED6;
    --color-green-300: #63CFC3;
    --color-green-400: #45C6B8;
    --color-green-500: #16B8A6;
    --color-green-600: #14A797;
    --color-green-700: #108376;
    --color-green-800: #0C655B;
    --color-green-900: #094D46;

    --color-night-50: #E9EAEB;
    --color-night-100: #BABDC1;
    --color-night-200: #989DA3;
    --color-night-300: #697079;
    --color-night-400: #4C545F;
    --color-night-500: #1F2937;
    --color-night-600: #1C2532;
    --color-night-700: #161D27;
    --color-night-800: #11171E;
    --color-night-900: #0D1117;

    --color-gray-50: #FEFEFE;
    --color-gray-100: #FAFAFA;
    --color-gray-200: #F1F1F1;
    --color-gray-300: #EDEDED;
    --color-gray-400: #E0E0E0;
    --color-gray-500: #D0D0D0;
    --color-gray-600: #CDCDCD;
    --color-gray-700: #ADADAF;
    --color-gray-800: #868687;
    --color-gray-900: #666667;
    --color-gray-white: #fff;

    --color-red-50: #FEEBEB;
    --color-red-100: #FDC2C2;
    --color-red-200: #FBA5A5;
    --color-red-300: #FA7C7C;
    --color-red-400: #F96262;
    --color-red-500: #F73B3B;
    --color-red-600: #E13636;
    --color-red-700: #AF2A2A;
    --color-red-800: #882020;
    --color-red-900: #681919;

    --color-orange-50: #FEEFEB;
    --color-orange-100: #FDCEC2;
    --color-orange-200: #FBB6A5;
    --color-orange-300: #FA957C;
    --color-orange-400: #F98162;
    --color-orange-500: #F7613B;
    --color-orange-600: #E15836;
    --color-orange-700: #AF452A;
    --color-orange-800: #883520;
    --color-orange-900: #682919;

    --color-yellow-50: #FFFDEC;
    --color-yellow-100: #FDFAD8;
    --color-yellow-200: #FCF5B1;
    --color-yellow-300: #FAF189;
    --color-yellow-400: #F9EC62;
    --color-yellow-500: #F7E73B;
    --color-yellow-600: #D4C62D;
    --color-yellow-700: #9A9124;
    --color-yellow-800: #847A13;
    --color-yellow-900: #595309;

    --color-purple-50: #F1ECFF;
    --color-purple-100: #E3D8FD;
    --color-purple-200: #C7B1FC;
    --color-purple-300: #AB89FA;
    --color-purple-400: #8F62F9;
    --color-purple-500: #733BF7;
    --color-purple-600: #5C2FC6;
    --color-purple-700: #452394;
    --color-purple-800: #2E1863;
    --color-purple-900: #170C31;

    /* Semantic Palettes */
    --primary-50: var(--color-blue-50);
    --primary-100: var(--color-blue-100);
    --primary-200: var(--color-blue-200);
    --primary-300: var(--color-blue-300);
    --primary-400: var(--color-blue-400);
    --primary-500: var(--color-blue-500);
    --primary-600: var(--color-blue-600);
    --primary-700: var(--color-blue-700);
    --primary-800: var(--color-blue-800);
    --primary-900: var(--color-blue-900);

    --success-50: var(--color-green-50);
    --success-100: var(--color-green-100);
    --success-200: var(--color-green-200);
    --success-300: var(--color-green-300);
    --success-400: var(--color-green-400);
    --success-500: var(--color-green-500);
    --success-600: var(--color-green-600);
    --success-700: var(--color-green-700);
    --success-800: var(--color-green-800);
    --success-900: var(--color-green-900);

    --secondary-50: var(--color-night-50);
    --secondary-100: var(--color-night-100);
    --secondary-200: var(--color-night-200);
    --secondary-300: var(--color-night-300);
    --secondary-400: var(--color-night-400);
    --secondary-500: var(--color-night-500);
    --secondary-600: var(--color-night-600);
    --secondary-700: var(--color-night-700);
    --secondary-800: var(--color-night-800);
    --secondary-900: var(--color-night-900);

    --neutral-50: var(--color-gray-50);
    --neutral-100: var(--color-gray-100);
    --neutral-200: var(--color-gray-200);
    --neutral-300: var(--color-gray-300);
    --neutral-400: var(--color-gray-400);
    --neutral-500: var(--color-gray-500);
    --neutral-600: var(--color-gray-600);
    --neutral-700: var(--color-gray-700);
    --neutral-800: var(--color-gray-800);
    --neutral-900: var(--color-gray-900);
    --neutral-1000: var(--color-gray-white);

    --warning-50: var(--color-orange-50);
    --warning-100: var(--color-orange-100);
    --warning-200: var(--color-orange-200);
    --warning-300: var(--color-orange-300);
    --warning-400: var(--color-orange-400);
    --warning-500: var(--color-orange-500);
    --warning-600: var(--color-orange-600);
    --warning-700: var(--color-orange-700);
    --warning-800: var(--color-orange-800);
    --warning-900: var(--color-orange-900);

    --error-50: var(--color-red-50);
    --error-100: var(--color-red-100);
    --error-200: var(--color-red-200);
    --error-300: var(--color-red-300);
    --error-400: var(--color-red-400);
    --error-500: var(--color-red-500);
    --error-600: var(--color-red-600);
    --error-700: var(--color-red-700);
    --error-800: var(--color-red-800);
    --error-900: var(--color-red-900);

    /* Component/Context Tokens */
    --text-heading: var(--color-night-900);
    --text-heading-off: var(--color-gray-900);
    --text-body: var(--color-night-800);
    --text-action: var(--primary-500);
    --text-action-hover: var(--primary-600);
    --text-disabled: var(--color-gray-700);
    --text-information: var(--primary-700);
    --text-warning: var(--warning-500);
    --text-error: var(--error-500);
    --text-success: var(--success-700);
    --text-on-action: var(--neutral-1000);
    --text-default: var(--secondary-700);
    --text-placeholder: var(--color-gray-400);
    --text-placeholder-2: var(--color-gray-400);

    --icon-action: var(--primary-500);
    --icon-action-hover: var(--primary-600);
    --icon-disabled: var(--neutral-700);
    --icon-information: var(--primary-700);
    --icon-information-2: var(--primary-700);
    --icon-error: var(--error-500);
    --icon-success: var(--success-700);
    --icon-warning: var(--warning-500);
    --icon-warning-light: var(--warning-100);
    --icon-on-action: var(--neutral-1000);
    --icon-default: var(--secondary-700);
    --icon-placeholder: var(--color-gray-400);

    --surface-page: var(--neutral-1000);
    --surface-default: var(--neutral-1000);
    --surface-action: var(--color-blue-500);
    --surface-action-hover: var(--color-blue-600);
    --surface-warning: var(--warning-300);
    --surface-warning-light: var(--warning-50);
    --surface-success: var(--success-200);
    --surface-error: var(--error-500);
    --surface-error-light: var(--error-400);
    --surface-information: var(--primary-400);
    --surface-disabled: var(--neutral-300);
    --surface-disabled-2: var(--neutral-600);
    --surface-black: var(--secondary-700);
    --surface-light-bg: var(--primary-50);

    --border-default: var(--primary-200);
    --border-disabled: var(--neutral-300);
    --border-disabled-dark: var(--neutral-700);
    --border-warning: var(--warning-400);
    --border-warning-light: var(--warning-100);
    --border-information: var(--primary-200);
    --border-success: var(--success-700);
    --border-action: var(--color-blue-500);
    --border-action-hover: var(--color-blue-600);
    --border-focus: var(--primary-500);
    --border-black: var(--secondary-400);
    --border-error: var(--error-500);
  }
}
